*{
    box-sizing: border-box;
}

:root{
    --header-bg:#10375C;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* ============== common========= */
.container{
    max-width: 1170px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 250px;
    line-height: 60px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 99px;
    
}

.btn.btn:hover{
    opacity: 0.9;
}
/* ============ header======= */

.header{
    background: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
}

.navbar__link, .header__action--login{
    padding: 8px 21px ;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    
}

.nav__link:hover, .navbar__link--active{
    text-shadow: 1px 0 0 currentColor;
    color: #FFF;
}

.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;
    top: -3px;
    position: relative;
    right: 8px;

}

.header__action--login{
    margin-right: 7px;
}
.header__action--signUp{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}